* {
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
ul, p {
    margin: 0;
}
.header {
    margin-top: 20px;
    border: solid 3px black;
}
.header-list {
    padding: 5px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.form-control {
    max-width: 470px;
    min-width: 470px;
}
.input-check {
    margin-left: 90px;
    margin-top: 10px;
}
.form-button {
    display: flex;
    justify-content: end;
}
.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form-login form {
    border: solid 2px black;
    padding: 100px 100px;
}
.footer {
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
}
.list-user table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.list-user {
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-form {
    margin: 100px 0;
    margin-bottom: 100px;
}
